<!DOCTYPE html>
<html>

<head>
    <title>eShop</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <div id="app">
    <header class = "header">
        <div class="container">
            <div class="header-top">
                <div class="icon">eShops</div>
                <form action="#" class="search-form" @submit.prevent="filter">
                    <input type="text" class="search-field" v-model="userSearch" >
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div class="cb"><button class="cart-button" type="button">Корзина</button>
                <div class="backet">
                    <div class="backet-one">
                        <div class="backet-two bk">
                            <div class="backet-img"><img src="https://picsum.photos/50" alt=""></div>
                            <div class="backet-four">
                                <h3 class="name">Мышка</h3>
                                <p class="quantity">Quantity <span>1</span></p>
                                <p class="each">2545</p>
                            </div>
                        </div>
                        <div class="backet-three">
                            <h3 class="backet-price">1565</h3>
                            <span class="close"></span>
                        </div>
                    </div>
                    <div class="backet-one">
                        <div class="backet-two">
                            <div class="backet-img"><img src="https://picsum.photos/50" alt=""></div>
                            <div class="backet-four">
                                <h3 class="name">Мышка</h3>
                                <p class="quantity">Quantity <span>1</span></p>
                                <p class="each">2545</p>
                            </div>
                        </div>
                        <div class="backet-three">
                            <h3 class="backet-price">1565</h3>
                            <span class="close"></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="products">
            <div class="goods-item" v-for="product of products">
                <img :src="imgCatalog" alt="">

                <h3>{{product.product_name}}</h3>
                <p>{{product.price}} $</p>
                <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
        </div>
    </main>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="script.js"></script>
</body>
        
</html>